.header {
    margin: 1rem 13% 1rem 13%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px #ccc;

    .header__search {
        
    }
    .header__logo {
        font-weight: 400;
        font-size: 42px;
        line-height: 80px;
        color: #000000;
    }
    .header__btn__icon {
        display: flex;
        gap: 1rem;


        button {
            gap: 10px;

            svg {
                path {
                    fill: #1e2832;
                }
            }
            > span {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-transform: capitalize;
                color: #1E2832;
            }
        }
        button:hover {
            svg {
                path {
                    fill: #ff6f61;
                }
            }
            span {
                color: #ff6f61;
            }
        }
    }
}