.nav__footer {
    justify-content: space-between;
    align-items: stretch;

    .nav__footer__desc {
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-weight: 400;
            font-size: 36px;
            line-height: 34px;
            color: #000000;
        }
        p {
            font-weight: 400;
            font-size: 22px;
            line-height: 36px;
            text-transform: capitalize;
            color: rgba(30, 40, 50, 0.75);
        }
        .nav__footer__item-icon {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
    .nav__footer__item {
        
        h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 40px;
            text-transform: uppercase;
            font-family: monospace;
        }

        li {
            list-style: none;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: #1E2832;
            margin: 1rem 0;
            cursor: pointer;
        }
        li:hover {
            color: #ff6f61;
        }
    }

}

@media (min-width: 375px) and (max-width: 844px) { 
    .nav__footer {
        flex-direction: column;
        gap: 3rem;

        .nav__footer__desc {
            gap: 3rem;

            .nav__footer__item-icon {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }

        .nav__footer__item {

            h3 {
                font-weight: 600;
                font-size: 22px;
                line-height: 80px;
                text-transform: uppercase;
                font-family: monospace;
            }
            ul {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                li {
                    margin: 0.5rem 0;
                    width: calc(100% / 2 - 0.5rem);
                }
            }
    
        }

    }
}

@media screen and (min-width: 820px) and (max-width: 1080px) {
    .nav__footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        flex: 1;

        .nav__footer__desc {
            gap: 3rem;
            width: 350px;

            .nav__footer__item-icon {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }

        .nav__footer__item {

            h3 {
                font-weight: 600;
                font-size: 22px;
                line-height: 80px;
                text-transform: uppercase;
                font-family: monospace;
            }
            ul {
                max-width: 370px;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                li {
                    margin: 0.5rem 0;
                    width: calc(100% / 2 - 1rem);
                }
            }
    
        }

    }
}