.slider {
    padding: 0 13%;
    background-color: rgba(0,0,0,0.06);
    
    .slider__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        gap: 1rem;
    }
}
.slider__content {

    h4 {
        font-weight: 200;
        font-size: 74px;
        line-height: 55px;
        text-transform: capitalize;
        line-height: 150px;
    }
    p {
        font-weight: 400;
        font-size: 30px;
        line-height: 55px;
        text-transform: capitalize;
    }

    button {
        background-color: #000;
        color: #fff;
        justify-content: center;
        width: 224px;
        height: 72px;
        gap: 10px;
        margin-top: 4rem;

        
        span {
            font-weight: 400;
            font-size: 29px;
            line-height: 34px;
            text-transform: capitalize;
        }
    }
    button:hover {
        background-color: #ff6f61;
        
        span {
            color: #fff;
        }
    }
}

.sldier__svg {
    position: absolute;
    left: 0;
    right: 0;
    
    svg {
        position: absolute;
    }
    .svg1 {
        left: 0;
        top: 130px;
    }
    .svg {
        right: -1%;
        bottom: -146px;
    }
}