.item__hover {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: -10%;
    right: 0;
    opacity: 0;
    padding: 1rem;
    color: #fff;
    background-color: #1e2832;
    font-size: 20px;
    letter-spacing: 1px;
}

.products {
 
    h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
        line-height: 70px;
        font-family: monospace;
    }
}
.products__content {
    display: flex;
    justify-content: space-between;

    .products__nav {
        margin: 2rem 0;

        span {
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.5);

            + span {
                margin-left: 2rem;
            }
        }
        .active {
            color: #000;
        }
    }

    .product__btn {
        background-color: #1E2832;
        gap: 6px;
        padding: 1.2rem 1rem;
        border: none;

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }
    .product__btn:hover {
        background-color: #ff6f61;
    }
}
.products__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.coupon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slick__arrow {
    background-color: #ff6f61 !important;
}