.item__hover {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: -10%;
    right: 0;
    opacity: 0;
    padding: 1rem;
    color: #fff;
    background-color: #1e2832;
    font-size: 20px;
    letter-spacing: 1px;
}

.products {
    
    h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
        line-height: 70px;
        font-family: monospace;
    }
}
.products__content {
    display: flex;
    justify-content: space-between;

    .products__nav {
        margin: 2rem 0;

        span {
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.5);

            + span {
                margin-left: 2rem;
            }
        }
        .active {
            color: #000;
        }
    }

    .product__btn {

        button {
            background-color: #1E2832;
            gap: 6px;
            padding: 1.2rem 1rem;
            border: none;
            width: max-content;
    
            span {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-transform: capitalize;
                color: #FFFFFF;
            }
        }
        button:hover {
            background-color: #ff6f61;
        }
    }
}
.products__container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.product__list {
    width: calc(100% - 0.5rem) !important;
}

.slick__arrow {
    background-color: #ff6f61 !important;
}

@media (min-width: 375px) and (max-width: 844px) { 
    .products {
        h1 {
            font-size: 40px;
        }
    }
    .products__content {
        margin: 2rem 0 4rem 0;
        flex-direction: column;
    
        .products__nav {
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;

            span {
                
                + span {
                    margin-left: 0;
                }
            }
        }
    
        .product__btn {
            button {
                width: max-content;
                float: right;
            }

        }
    }
    .products__container {
        gap: 2rem;
        justify-content: center;
        padding: 0 5%;
    }

    .product__slider {
        width: 76%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 820px) and (max-width: 1080px) {
    .products {
        h1 {
            font-size: 44px;
        }
    }
    .products__content {
        margin: 2rem 0 4rem 0;
        flex-direction: column;
    
        .products__nav {
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;

            span {
                font-size: 22px;
                
                + span {
                    margin-left: 0;
                }
            }
        }
    
        .product__btn {
            button {
                width: max-content;
                float: right;
            }

        }
    }
    .products__container {
        gap: 1rem !important;
        justify-content: space-evenly;
        padding: 0;
    }

    .product__slider {
        width: 85%;
        margin: 0 auto;
    }
}