.brands {
    margin-top: 6rem;
    display: block;
    padding: 0 10%;

    .brands__header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .brands__content {
        display: flex;
        margin: 6rem 0;
        gap: 14px;
    }
}

.brands__left {
    position: relative;
    display: inline-block;

    > p {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #000000;
        position: absolute;
        bottom: -5%;
        left: 0;
        transform-origin: 0 0;
        transform: rotate(-90deg);
    }
    .brands__index {
        margin-left: 3rem;
        position: relative;
    }
    .brand__item__hover {
        position: relative;
    }
    .brands__index:hover > .item__hover {
        opacity: 1;
        bottom: 0;
        transition: all 0.5s ease;
    }
}
.brands__right {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .brands__right__item {
        width: calc(100%/2 - 5px);
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }
    .brands__right__item:hover > .item__hover {
        opacity: 0.9;
        bottom: 0;
        transition: all 0.5s ease;
    }
}
.item__hover {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: -10%;
    right: 0;
    opacity: 0;
    padding: 1rem;
    color: #fff;
    background-color: #1e2832;
    font-size: 20px;
    letter-spacing: 1px;
}

.coupon {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 6px 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 375px) and (max-width: 844px) {
    .brands {
        margin-top: 6rem;
        padding: 0;
    
        .brands__header {
            flex-wrap: wrap;
            justify-content:space-evenly;
            gap: 1rem;
        }
        .brands__content {
            display: flex;
            margin: 3rem 0;
            gap: 1rem;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    
    .brands__left {
        position: relative;
    
        > p {
            line-height: 50px;
            position: inherit;
            transform: rotate(0deg);
        }
        .brands__index {
            margin-left: 0;
            position: relative;

            > img {
                margin-top: 2rem;
            }
        }
        .brands__index:hover > .item__hover {
            opacity: 1;
            bottom: 0;
            transition: all 0.5s ease;
        }
    }

    .brands__right {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    
        .brands__right__item {
            width: 100%;
        }
    }
}

@media screen and (min-width: 820px) and (max-width: 1080px) {
    .brands {
    
        .brands__content {
            display: flex;
            margin: 3rem 0 5rem 0;
            gap: 2rem;
        }
    }
    
    .brands__left {
        position: relative;
        display: inline-block;
    
        > p {
            line-height: 40px;
            position: absolute;
            transform: rotate(-90deg);
        }
        .brands__index {
            margin-left: 3rem;
            display: inline-block;
        }
    }

    .brands__right {
        gap: 10px;
    
        .brands__right__item {
            width: calc(100%/2 - 5px);
            img {
                height: 100%;
            }
        }
    }
}