.footer {
    background-color: #1E2832;
    align-items: center;
    padding: 0 13%;

    .footer__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 10px 0;

        button {
            flex-direction: row-reverse;
            background-color: transparent;
            border: none;
            gap: 6px;
            padding: 20px 10px;

            span {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-transform: capitalize;
                color: #FFFFFF;
                letter-spacing: 1px;
            }
        }
        button:hover {
            background-color: #ff6f61;
        }
    }
}

@media (min-width: 375px) and (max-width: 844px) { 
    .footer {
        padding: 0 1rem;
        flex-direction: column-reverse;
    }
}
